.title{
  display: flex;
  justify-content: center; 
}
.search {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  width: 100%; /* Prend toute la largeur disponible */
  max-width: 300px; /* Limite la largeur max */
  margin-left: auto; /* Centre */
  margin-right: auto; /* Centre  */
}

.pokemonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    gap: 2.7rem;
  }
  .pokemon {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 150px;
    text-align: center;
  }
  
  .imgContainer img {
    width: 100px;
    height: 100px;
  }
  
  .info {
    padding: 0.5rem;
  }
  
  .name {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  .type span {
    font-weight: bold;
  }
  
.button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
  }
  .fire {
	background-color: #ffc9c9;
}
.grass {
	background-color: #DEFDE0;
}

.electric {
	background-color: #FCF7DE;
}

.water {
	background-color: #DEF3FD;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #fceaff;
}

.poison {
	background-color: #d2c7da;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.normal {
	background-color: #F5F5F5;
}